
<h1>Hi! {{user.lastname}} Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a  href="{{absolute_url(path('app_verify_email',{token:token}))}}" >Link</a>.
    This link will expire in 3 hours.
</p>

<p>
    Cheers!
</p>